
body{
    padding: 0;
    margin: 0;
    font-family: 'Mooli', sans-serif;
    box-sizing: border-box;
}

.home{
background-image: url(/img/3.jpg);
width: 100%;
height: 100vh;
background-size: cover;
background-position: center;

}

.black-back{
background-color: rgba(0, 0, 0, 0.524);
width: 100%;
height: 100%;
position: absolute;
}

.nav{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.405);
    width: 100%;
    height: 50px;
    font-size: 19px;
    z-index: 1000000000;
}

.nav ul{
    margin-top: 13px;
}

.nav ul li{
    display: inline-block;
   list-style: none;
   padding-left: 60px;
   font-weight: 900;
}

.nav ul li a{
    text-decoration: none;
    color: white;
}

.nav li .an{
    width: 180px;
    height: 100px;
    margin-top: -28px;
    position: absolute;
    top: 5px;
    right: 507px;
}



/* _______________________________________________________________________________________________________________________ */


.we{
  padding-top:255px ;
    margin-left: 300px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 900;
}

.mor{
  margin-top: -30px;
    margin-left: 376px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2px;
}

.get{
    font-size: 16px;
    margin-left: 468px;
    padding: 16px 30px;
    border-radius: 7px;
    border: none;
    
}

.learn{
    color: white;
    background-color: #363c40;
    margin-left: 20px;
    font-size: 16px;
    padding: 16px 30px;
    border-radius: 7px;
    border: none;
   
}

.get:hover{
   opacity: 0.7;
    cursor: pointer;
}

.learn:hover{
    background-color: #736a58;
    cursor: pointer;
}

/* _____________________________________________________________________________________ */



.sec2{
    background-color: white;
    height: 100%;
    margin-top: 110px;
  
}

.wel{
    font-weight: 800;
    font-size: 35px;
   text-align: center;
}

.line{
    height: 5px;
    width: 80px;
   background-color:#736a58;
  margin-top: -20px;
  margin-left: 565px;
}

.table1{
    margin-top: 60px;
    margin-left: 30px;
    border: 1px solid #736a58;
    width: 330px;
    height: 310px;
    float: left;
    position: relative;
}

.table1:hover .dive{
   color: royalblue;
    transition: 0.5s;
}


.table1::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363c4065;
    transition: 0.5s;
    opacity: 0;
}

.table1:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.6;
}

.select{
    margin-left: 72px;
}

.dive{
    font-size: 25px;
    font-weight:900;
  text-align: center;
    margin-top: -2;
    transition: 0.5s;
}

.patab1{
    margin-top: -8px;
    width: 330px;
   text-align: center;
    color: rgba(128, 128, 128, 0.829);
}

.table1 a{
    text-decoration: none;
    color: #736a58;
    font-weight: 800;
    margin-left: 120px;
}







.table2{
    margin-top: 60px;
    margin-left: 70px;
    border: 1px solid #736a58;
    width: 330px;
    height: 310px;
    float: left;
    position: relative;
}

.table2:hover .deta{
    color: royalblue;
     transition: 0.5s;
 }
 

.table2::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363c4065;
    transition: 0.5s;
    opacity: 0;
}

.table2:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.6;
}

.infor{
   
   margin-left: 72px;
}

.deta{
    font-size: 19px;
    width: 400px;
    font-weight:900;
    margin-left: 18px;
    margin-top: 3;
}

.patab2{
    width: 320px;
    margin-left: 15px;
    color: rgba(128, 128, 128, 0.829);
}

.table2 a{
    text-decoration: none;
    color: #736a58;
    font-weight: 800;
    margin-left: 124px;
    
}








.table3{
    margin-top: 60px;
    margin-left: 65px;
    border: 1px solid #736a58;
    width: 330px;
    height: 310px;
    float: left;
    position: relative;
}

.table3:hover .uni{
    color: royalblue;
     transition: 0.5s;
 }
 

.table3::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363c4065;
    transition: 0.5s;
    opacity: 0;
}

.table3:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.6;
}

.shop{
    margin-left: 78px;
    
}

.uni{
    font-size: 19px;
    width: 300px;
    font-weight:900;
    margin-left: 35px;
    margin-top: 3;
}

.patab3{
    width: 320px;
    margin-left: 15px;
    color: rgba(128, 128, 128, 0.829);
}

.table3 a{
    text-decoration: none;
    color: #736a58;
    font-weight: 800;
    margin-left: 130px;
    
}




/* ________________________________________________________________________________________ */

.sec3 .aa{
    font-weight: 900;
    font-size: 35px;
    margin-left: 456px;
   margin-top: -140px;
}

.sec3 .line1{
    height: 5px;
    width: 80px;
   background-color:#736a58;
  margin-top: -20px;
  margin-left: 588px;
}

.sec3 .box {
    background-color: white;
    margin: 12px;
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
    border: 1px solid #736a58;
    border-radius: 4px;
    float: left;
    margin-top: 40px;
  }
  
  .sec3 .box:hover{
    box-shadow: 10px 10px 54px rgba(254, 254, 254, 0.3);
  }

  .sec3 .box img {
    width: 180px;
    height: 90px;
    margin-bottom: 10px;
  }

  .sec3 .box .sup {
    width: 124px;
    height: 90px;
    padding-left: 20px;
  }
  
  .sec3 .box .ord {
    width: 124px;
    height: 90px;
  }
  
  .sec3 .box .res {
    width: 124px;
    height: 90px;
  }
  
  .sec3 .box h6 {
    display: inline-block;
    padding: 9px 8px;
    line-height: 1;
    border-radius: 4px;
    color: black;
  }

  .sec3 .box .a1{
    background-color: #e3e6f3;
  }

  .sec3 .box .a2{
    background-color: #bae9bb;
  }

  .sec3 .box .a3{
    background-color: #6b63ffaf;
  }

  .sec3 .box .a4{
    background-color: #faac26c7;
  }

  .sec3 .box .a5{
    background-color: #00bfa6ab;
  }





  /* ____________________________________________________________________________________ */




.sec4{
    background-color: rgba(185, 185, 185, 0.164);
    margin-top: 500px;
    height: 920px;
    position: relative;
}

.fea{
    font-weight: 900;
    font-size: 35px;
    margin-left: 490px;
    padding-top: 80px;
}

.line2{
    height: 5px;
    width: 80px;
   background-color:#736a58;
  margin-top: -20px;
  margin-left: 583px;
}

.sec4 img{
    padding-left: 90px;
    padding-top: 40px;
    border-radius: 10px;
}










.sec4 .item1{
    float: left;
    text-align: center;
    transition:0.6s ;
    position: absolute;
    top: 180px;
    left: 74px;
    width: 313px;
    height: 324px;
}


.sec4 .bbll1{
    height: 324px;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
    background-color: #0000007a;
    position: absolute;
    width: 313px;
}

.sec4 .bbll1 h3{
    margin-top: 100px;
    font-weight: 600;
    color: #52B5F2;
}

.sec4 .bbll1 p{
    margin-top: -10px;
    font-weight: 900;
    color: white;
}

.sec4 .bbll1 i{
    background-color: #52B5F2;
    width: 30px;
    padding: 10px 3px;
}

.sec4 .item1:hover .bbll1{
    visibility: visible;
    transition: 1s;
    opacity: 6;
}














.sec4 .item2{
    text-align: center;
    float: left;
    transition: 0.6s;
    position: absolute;
    top: 180px;
    left:448px;
    width: 313px;
    height: 324px;
}


.sec4 .bbll2{
    background-color: #0000007a;
    width: 313px;
    height: 324px;
    position: absolute;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
}

.sec4 .bbll2 h3{
    margin-top: 100px;
    font-weight: 600;
    color: #52B5F2;
}

.sec4 .bbll2 p{
    margin-top: -10px;
    font-weight: 900;
    color: white;
}

.sec4 .bbll2 i{
    background-color: #52B5F2;
    width: 30px;
    padding: 10px 3px;
}

.sec4 .item2:hover .bbll2{
    visibility: visible;
    transition: 1s;
    opacity: 6;
}











.sec4 .item3{
    text-align: center;
    float: left;
    transition: 0.6s;
    position: absolute;
    top: 180px;
    left:823px;
    width: 313px;
    height: 324px;
}

.sec4 .bbll3{
    background-color: #0000007a;
    width: 313px;
    height: 324px;
    position: absolute;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
}

.sec4 .bbll3 h3{
    margin-top: 100px;
    font-weight: 600;
    color: #52B5F2;
}

.sec4 .bbll3 p{
    margin-top: -10px;
    font-weight: 900;
    color: white;
}

.sec4 .bbll3 i{
    background-color: #52B5F2;
    width: 30px;
    padding: 10px 3px;
}

.sec4 .item3:hover .bbll3{
    visibility: visible;
    transition: 1s;
    opacity: 6;
}














.sec4 .item4{
    text-align: center;
    float: left;
    transition: 0.6s;
    position: absolute;
    top: 524px;
    left: 74px;
    width: 313px;
    height: 324px;
}

.sec4 .bbll4{
    background-color: #0000007a;
    width: 313px;
    height: 324px;
    position: absolute;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
}

.sec4 .bbll4 h3{
    margin-top: 100px;
    font-weight: 600;
    color: #52B5F2;
}

.sec4 .bbll4 p{
    margin-top: -10px;
    font-weight: 900;
    color: white;
}

.sec4 .bbll4 i{
    background-color: #52B5F2;
    width: 30px;
    padding: 10px 3px;
}

.sec4 .item4:hover .bbll4{
    visibility: visible;
    transition: 1s;
    opacity: 6;
}











.sec4 .item5{
    text-align: center;
    float: left;
    transition: 0.6s;
    position: absolute;
    top: 524px;
    left: 448px;
    width: 313px;
    height: 324px;
}


.sec4 .bbll5{
    background-color: #0000007a;
    width: 313px;
    height: 324px;
    position: absolute;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
}

.sec4 .bbll5 h3{
    margin-top: 100px;
    font-weight: 600;
    color: #52B5F2;
}

.sec4 .bbll5 p{
    margin-top: -10px;
    font-weight: 900;
    color: white;
}

.sec4 .bbll5 i{
    background-color: #52B5F2;
    width: 30px;
    padding: 10px 3px;
}

.sec4 .item5:hover .bbll5{
    visibility: visible;
    transition: 1s;
    opacity: 6;
}









.sec4 .item6{
    text-align: center;
    float: left;
    transition: 0.6s;
    position: absolute;
    top: 524px;
    left:823px;
    width: 313px;
    height: 324px;
}

.sec4 .bbll6{
    background-color: #0000007a;
    width: 313px;
    height: 324px;
    position: absolute;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
}

.sec4 .bbll6 h3{
    margin-top: 100px;
    font-weight: 600;
    color: #52B5F2;
}

.sec4 .bbll6 p{
    margin-top: -10px;
    font-weight: 900;
    color: white;
}

.sec4 .bbll6 i{
    background-color: #52B5F2;
    width: 30px;
    padding: 10px 3px;
}

.sec4 .item6:hover .bbll6{
    visibility: visible;
    transition: 1s;
    opacity: 6;
}



/* ________________________________________________________________________ */


.sec5{
    height: 100%;
    background-image: url(/img/21.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
}

.sec5 .wwhat{
    color: white;
    font-weight: 900;
    font-size: 35px;
    margin-left: 490px;
    padding-top: 80px;
}

.sec5 .line3{
    height: 5px;
    width: 80px;
   background-color:white;
  margin-top: -20px;
  margin-left: 576px;
}















.table4{
    margin-top: 50px;
    width: 320px;
    height: 220px;
    float: left;
    margin-left: 60px;
    position: relative;
}

.table4 .circle{
    width: 80px;
    height:80px ;
    border-radius: 50% ;
   outline: 2px solid white;
   position: absolute;
   margin-left: 123px;
   margin-top: 5px;
}

.table4 i{
    font-size: 40px;
   padding-top: 22px;
   padding-left: 143px;
    color: white;
}

.table4 h2{
    color: white;
    font-size: 23px;
    margin-left: 60px;
    margin-top: 34px;
    font-weight: 900;
}

.table4 p{
    width: 240px;
    margin-left: 57px;
  margin-top: -10px;
    color: rgb(209, 209, 209);
}


.table4::after{
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363c4096;
    border: 1px solid white;
    margin-top: -5px;
    transition: 0.5s;
    opacity: 0;
}

.table4:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.6;
}

.table4:hover h2{
    color: rgb(234, 213, 23);
}











.table5{
    margin-top: 50px;
    width: 320px;
    height: 220px;
    float: left;
    margin-left: 60px;
    position: relative;
}

.table5 .circle2{
    width: 80px;
    height:80px ;
    border-radius: 50% ;
   outline: 2px solid white;
   position: absolute;
   margin-left: 123px;
   margin-top: 5px;
}

.table5 i{
    font-size: 40px;
    padding-top: 24px;
    padding-left: 139px;
    color: white;
}

.table5 h2{
    color: white;
    font-size: 23px;
    margin-left: 46px;
    margin-top: 34px;
    font-weight: 900;
}

.table5 p{
    width: 280px;
    margin-left: 35px;
    margin-top: -10px;
    color: rgb(209, 209, 209);
}

.table5::after{
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363c4096;
    border: 1px solid white;
    margin-top: -5px;
    transition: 0.5s;
    opacity: 0;
}

.table5:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.6;
}

.table5:hover h2{
    color: rgb(234, 213, 23);
}













.table6{
    margin-top: 50px;
    width: 320px;
    height: 220px;
    float: left;
    margin-left: 60px;
    position: relative;
}

.table6 .circle3{
    width: 80px;
    height:80px ;
    border-radius: 50% ;
   outline: 2px solid white;
   position: absolute;
   margin-left: 113px;
   margin-top: 5px;
}

.table6 i{
    font-size: 40px;
    padding-top: 24px;
    padding-left: 133px;
    color: white;
}

.table6 h2{
    color: white;
    font-size: 23px;
    margin-left: 55px;
    margin-top: 34px;
    font-weight: 900;
}

.table6 p{
    width: 280px;
    margin-left: 32px;
    margin-top: -10px;
    color: rgb(209, 209, 209);
}

.table6::after{
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363c4096;
    border: 1px solid white;
    margin-top: -5px;
    transition: 0.5s;
    opacity: 0;
}

.table6:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.6;
}

.table6:hover h2{
    color: rgb(234, 213, 23);
}














.table7{
    margin-top: 50px;
    width: 320px;
    height: 226px;
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    position: relative;
}

.table7 .circle4{
    width: 80px;
    height:80px ;
    border-radius: 50% ;
   outline: 2px solid white;
   position: absolute;
   margin-left: 123px;
   margin-top: 5px;
}


.table7 i{
    font-size: 43px;
    padding-top: 22px;
    padding-left: 142px;
    color: white;
}

.table7 h2{
    color: white;
    font-size: 23px;
    margin-left: 58px;
    margin-top:  34px;
    font-weight: 900;
}

.table7 p{
    width: 240px;
    margin-left: 57px;
    margin-top: -10px;
    color: rgb(209, 209, 209);
}

.table7::after{
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363c4096;
    border: 1px solid white;
    margin-top: -5px;
    transition: 0.5s;
    opacity: 0;
}

.table7:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.6;
}

.table7:hover h2{
    color: rgb(234, 213, 23);
}










.table8{
    margin-top: 50px;
    width: 320px;
    height: 226px;
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    position: relative;
}

.table8 .circle5{
    width: 80px;
    height:80px ;
    border-radius: 50% ;
   outline: 2px solid white;
   position: absolute;
   margin-left: 123px;
   margin-top: 5px;
}

.table8 i{
    font-size: 45px;
    padding-top: 20px;
    padding-left: 140px;
    color: white;
}

.table8 h2{
    color: white;
    font-size: 23px;
    margin-left: 54px;
    margin-top: 34px;
    font-weight: 900;
}

.table8 p{
    width: 280px;
    margin-left: 30px;
    margin-top: -10px;
    color: rgb(209, 209, 209);
}

.table8::after{
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363c4096;
    border: 1px solid white;
    margin-top: -5px;
    transition: 0.5s;
    opacity: 0;
}

.table8:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.6;
}

.table8:hover h2{
    color: rgb(234, 213, 23);
}
















.table9{
    margin-top: 50px;
    width: 320px;
    height: 226px;
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    position: relative;
}

.table9 .circle6{
    width: 80px;
    height:80px ;
    border-radius: 50% ;
   outline: 2px solid white;
   position: absolute;
   margin-left: 113px;
   margin-top: 5px;
}

.table9 i{
    font-size: 45px;
    padding-top: 20px;
    padding-left: 136px;
    color: white;
}

.table9 h2{
    color: white;
    width: 250px;
    font-size: 23px;
    margin-left: 79px;
    margin-top: 34px;
    font-weight: 900;
}

.table9 p{
    width: 280px;
    margin-left: 30px;
    margin-top: -10px;
    color: rgb(209, 209, 209);
}

.table9::after{
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363c4096;
    border: 1px solid white;
    margin-top: -5px;
    transition: 0.5s;
    opacity: 0;
}

.table9:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.6;
}

.table9:hover h2{
    color: rgb(234, 213, 23);
}








/* _________________________________________________________________________________________________________- */



.sec6{
   
    height: 110vh;
    background-color: rgba(192, 191, 191, 0.135);
    margin-top: -50px;
   position: relative;
}

.sec6-left{
   padding-top: 70px;
}

.sec6-left h2{
 margin-left: 470px;
 width: 600px;
    font-size: 40px;
    font-weight: 900;
}

.sec6-left .line4{
    height: 5px;
    width: 80px;
   background-color:#736a58;
  margin-top: -25px;
  margin-left: 576px;
}

.sec6 .sec6-about{
    color: rgba(128, 128, 128, 0.829);
    margin-left: 330px;
    width: 600px;
}

.sec6 .sec6-about .meets{
    margin-left: 40px;
    position: absolute;
    left: 344px;
    top: 206px;
    font-weight: 100;
}


.sec6 .sec6-about span{
    font-weight: bolder;
}







.sec6 .sec6-advantage{
    padding-top: 50px;
   color:rgba(128, 128, 128, 0.829);
}

.sec6 .sec6-advantage div{
    position: relative;
 
   padding: 30px 10px;
    width: 250px;
    margin-left: 60px;
    margin-top: 15px;
}

.sec6 .sec6-advantage .oone{
    background-color: #2ea7e9;
    color: white;
}

.sec6 .sec6-advantage .oone i{
  font-size: 40px;
  position: absolute;
  top: 20px;
  color: white;
}

.sec6 .sec6-advantage .oone h2{
    margin-top: 45px;
    margin-left: 0;
    font-size: 18px;
    font-weight: 900;
}







.sec6 .sec6-advantage .ttwo{
   position: absolute;
   top: 266px;
   left: 300px;
}

.sec6 .sec6-advantage .ttwo i{
    color: #2ea7e9;
  font-size: 40px;
  position: absolute;
  top: 20px;
}

.sec6 .sec6-advantage .ttwo h2{
    color: #000000;
    margin-top: 45px;
    margin-left: 0;
    font-size: 18px;
    font-weight: 1900;
}








.sec6 .sec6-advantage .tthree i{
  font-size: 40px;
  position: absolute;
  top: 14px;
  color: #2ea7e9;
}

.sec6 .sec6-advantage .tthree h2{
    color: black;
    margin-top: 34px;
    margin-left: 0;
    font-size: 16px;
    font-weight: 900;
}






.sec6 .sec6-advantage .ffour{
    position: absolute;
    top: 500px;
    left: 300px;
    background-color: #2ea7e9;
    color: white;
 }
 
 .sec6 .sec6-advantage .ffour i{
     color: white;
   font-size: 35px;
   position: absolute;
   top: 14px;
 }
 
 .sec6 .sec6-advantage .ffour h2{
     color: white;
     margin-top: 31px;
     margin-left: 0;
     font-size: 18px;
     font-weight: 1900;
 }









.sec6 .right img{
    margin-left: 680px;
     margin-top:-520px ;
    width: 510px;
    height: 510px;
}

.sec6 .sec6-advantage div::after{
    content: "";
    width:100% ;
    height:0 ;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363c4096;
    border: 1px solid  blueviolet;
    transition: 0.5s;
    opacity: 0;
}

.sec6 .sec6-advantage div:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.6;
}



/* ___________________________________________________________________________________________________________________ */


.sec7{
    height: 80vh;
    background-color: rgba(192, 191, 191, 0.135);
    padding-top: 30px;
}


.sec7 .big{
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-image: url(/img/10.jpg);
    background-attachment: fixed;
}


.sec7 .big div{
    margin-top: 150px;
    float: left;
}

.sec7 .big div i{
    color: #52B5F2;
    font-size: 35px;
  padding-left: 186px;
 
}

.sec7 .big div .one{
    color: white;
   padding-left: 178px;
   margin-top: 9px;
   font-weight: 900;
}

.sec7 .big div .two{
    color: white;
   padding-left: 194px;
   margin-top: 9px;
   font-weight: 900;
}

.sec7 .big div .three{
    color: white;
   padding-left: 180px;
   margin-top: 9px;
   font-weight: 900;
}

.sec7 .big div .four{
    color: white;
   padding-left: 185px;
   margin-top: 9px;
   font-weight: 900;
}


.sec7 .big div .five{
    color: white;
    padding-left: 160px;
    margin-top: -19px;
    font-weight: 500;
}

.sec7 .big div .six{
    color: white;
    padding-left: 163px;
    margin-top: -19px;
    font-weight: 500;
}

.sec7 .big div .seven{
    color: white;
    padding-left: 159px;
    margin-top: -19px;
    font-weight: 500;
}

.sec7 .big div .eight{
    color: white;
    padding-left: 128px;
    margin-top: -19px;
    font-weight: 500;
}







/* __________________________________________________________________________________- */



.sec8{
    height: 130vh;
    background-color: #736a5867;
    margin-top: -100px;
}


.sec8 h1{
    text-align: center;
    margin-top: 100px;
    padding-top: 100px;
}

.sec8 .line5{
    height: 5px;
    width: 80px;
   background-color: #736a58;
  margin-left: 559px;
  margin-top: -16px;
}

.sec8 .sec8-first{
    margin-top: 70px;
    background-color: white;
    width: 330px;
    height: 640px;
    border-radius: 16px;
    float: left;
    margin-left: 50px;
    transition: 0.6s;
    position: relative;
}

.sec8 .sec8-first::after{
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363c4096;
    border-radius: 16px;
    transition: 0.5s;
    opacity: 0;
}

.sec8 .sec8-first:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0.6;
}

.sec8 .sec8-first:hover h2{
    color: rgb(234, 213, 23);
    transition: 0.5s;
}

.sec8 .sec8-first:hover .sec8-dollar{
    color: rgb(234, 213, 23);
    transition: 0.6s;
}


.sec8 .sec8-first .recomend{
    padding-top: 15px;
    padding-left: 106px;
    background-color: rgba(0, 0, 0, 0.183);
    width: 224px;
    height: 40px;
    margin-top: 0;
    border-radius: 16px 16px 0 0;
    color: white;
    font-weight: 700;
}

.sec8 .sec8-first img{
   margin-left: 25px;
}

.sec8 .sec8-first .head{
   margin-left: 118px;
    margin-top: -4px;
    font-size: 28px;
    font-weight: bold;
}

.sec8 .sec8-first .sec8-home{
    margin-top: -23px;
    margin-left: 67px;
}

.sec8 .sec8-first .sec8-one{
    padding-top: 10px;
    padding-left: 40px;
    font-weight: 700;
}

.sec8 .sec8-first .sec8-one i{
    padding: 0 4px;
    color: green;
}

.sec8 .sec8-first .underline{
    height: 1px;
    width: 259px;
   background-color: #736a58;
  margin-left: 30px;
  margin-top: -7px;
}

.sec8 .sec8-first .sec8-two{
    padding-left: 40px;
    font-weight: 700;
    margin-top: -5px;
}

.sec8 .sec8-first .sec8-two i{
    padding: 0 4px;
    color: red;
}

.sec8 .sec8-first .sec8-three{
    padding-left: 40px;
    font-weight: 700;
    margin-top: -5px;
}

.sec8 .sec8-first .sec8-three i{
    padding: 0 4px;
    color: red;
}

.sec8 .sec8-first .sec8-four{
    padding-left: 40px;
    font-weight: 700;
    margin-top: -5px;
}

.sec8 .sec8-first .sec8-four i{
    padding: 0 4px;
    color: red;
}

.sec8 .sec8-first .sec8-dollar{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-top: 1px;
}

.sec8 .sec8-first .month{
    margin-top: -40px;
    margin-left: 126px;
}


.sec8 .sec8-first .bbuy{
    border: none;
    padding: 10px 30px;
    border-radius: 16px;
    color: white;
    background-color: #736a58b7;
    margin-left: 105px;
    font-weight: 600;
}
















.sec8-first .pop{
    font-size: 22px;
    border: none;
    padding: 10px 30px;
    border-radius: 18px;
    color: white;
    background-color: #000000;
    margin-left: 97px;
    font-weight: 600;
    margin-top: -25px;
}

.sec8-first .stand{
   margin-top: 75px;
}

.sec8 .sec8-first .head2{
    margin-left: 91px;
     margin-top: -1px;
     font-size: 28px;
     font-weight: bold;
 }

 .sec8 .sec8-first .sec8-home2{
    margin-top: -23px;
    margin-left: 36px;
}

.sec8 .sec8-first .sec8-two1{
    padding-left: 40px;
    font-weight: 700;
    margin-top: -5px;
}

.sec8 .sec8-first .sec8-two1 i{
    padding: 0 4px;
    color: green;
}

.sec8 .sec8-first .sec8-three1{
    padding-left: 40px;
    font-weight: 700;
    margin-top: -5px;
}

.sec8 .sec8-first .sec8-three1 i{
    padding: 0 4px;
    color: green;
}




















.sec8-first .pro{
    margin-top: 75px;
}

.sec8 .sec8-first .head3{
    margin-left: 59px;
     margin-top: -6px;
     font-size: 28px;
     font-weight: bold;
 }

.sec8 .sec8-first .sec8-home3{
    margin-top: -23px;
    margin-left: 54px;
}

 .sec8 .sec8-first .sec8-four1{
    padding-left: 40px;
    font-weight: 700;
    margin-top: -5px;
}

.sec8 .sec8-first .sec8-four1 i{
    padding: 0 4px;
    color: green;
}








/* ___________________________________________________________________________________________ */







.sec9{
    height: 42vh;
    background-color: rgba(192, 191, 191, 0.135);
    padding-top: 150px;
}


.sec9 .big{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-image: url(/img/14.jpg);
    background-attachment: fixed;
}


.sec9 .big div{
    margin-top: 150px;
    float: left;
}

.sec9 .big div .img5{
    border-radius: 40px;
    width: 80px;
    height: 80px;
    margin-left: 150px;
    margin-top: -40px;
    
}

.sec9 .big div .one{
    color: white;
   padding-left: 240px;
   margin-top: -60px;
   font-weight: 900;
}

.sec9 .big div .two{
    color: white;
   padding-left: 844px;
   margin-top: -264px;
   font-weight: 900;
}






.sec9 .big div .five{
    color: white;
    padding-left: 240px;
    margin-top: -19px;
    font-weight: 500;
}

.sec9 .big div .six{
    color: white;
    padding-left: 844px;
    margin-top: -19px;
    font-weight: 500;
}

.sec9 .big div .parr6{
    font-size: 12px;
    width: 370px;
    color: white;
    padding-left: 105px;
    padding-top: 10px;
}



.sec9 .big div .img6{
    border-radius: 40px;
    width: 80px;
    height: 80px;
    margin-left: 750px;
    margin-top: -281px;
}

.sec9 .big div .parr7{
    font-size: 12px;
    width: 370px;
    color: white;
    padding-left: 706px;
   margin-top: 28px;
   
}




/* ________________________________________________________________________________ */




  .sec10{
    height: 80vh;
    width: 80%;
    margin: auto;
  }

  .sec10 .sec10-header{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-top: 150px;
  }

.sec10 .line5{
    height: 5px;
    width: 80px;
   background-color:#736a58;
  margin-top: -31px;
  margin-left: 440px;
}

.team-content{
  padding-top: 40px;
}

.team-item{
    float: left;
    background-color: #736a5831;
    width: 26%;
    padding: 14px 18px ;
    text-align: center;
    height: 270px;
    transition:0.6s ;
    position: relative;
}

.team-item:hover{

    transition: 0.6s;
}

.ana{
    margin: 0 5%;
}

.team-img{
    width:  90%;
    margin: auto;
    position: relative;
}

.team-img img{
    width: 100%;
}


.team-overley{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000002e;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
}

.team-overley a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #52B5F2;
    font-size: 22px;
    margin-left: auto;
    color: white;
}

.team-overley a i{
   line-height: 40px ;
}

.team-info-title{
    text-transform: uppercase;
    font-weight: 900;
}

.team-info-spi1{
    color: rgba(128, 128, 128, 0.829);
}
  
.team-item:hover .team-info-title{
    color: white;
    font-weight: bold;
    transition: 0.7s;
}

.team-item:hover .team-info-spi1{
    color: #52B5F2;
    transition: 1s;
}

.team-item:hover .team-overley{
    visibility: visible;
    transition:1s;
    opacity: 2;
}


.team-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: #363c4075;
    opacity: 0;
    transition: 1s;
}

.team-item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: 1s;
}

/* ________________________________________________________________________________________ */


.sec11{
    height: 100vh;
    margin-left: 40px;
  }

 .sec11-header{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
  }

.sec11-header .line6{
    height: 5px;
    width: 80px;
   background-color:#736a58;
  margin-top: -31px;
  margin-left: 554px;
}


.news-item{
    margin-top: 30px;
    float: left;
    background-color: rgba(192, 191, 191, 0.171);
    width: 29%;
    padding: 0 1px;
    height: 430px;
    transition: 0.6s;
    position: relative;
}

.news-item::after{
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #363c4096;
    transition: 1s;
    opacity: 0;
}

.news-item:hover::after{
    width: 100%;
    height: 100%;
    transition: 1s;
    opacity: 0.6;
}


.news-item:hover{
    transition: 0.6s;
}

.news-img{
    position: relative;
}


.news-overley{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0000002e;
  
}

.news-overley .post{
    position: absolute;
    top: -16px;
    background-color: #736a58;
    color: #e3e6f3;
    font-weight: 900;
    padding: 8px 9px;
}

.news-overley  .uu{
   padding-top: 180px;
   padding-left: 20px;
}

.news-overley .bbb{
    position: absolute;
    top: 177px;
    padding-left: 190px;
}

.news-overley i{
    padding: 3px;
    color: #736a58;
}

.news-info-title{
    padding-left: 10px;
    padding-top: 30px;
    text-transform: uppercase;
    font-weight: 900;
}

.news-info-spi1{
    color: rgba(128, 128, 128, 0.829);
    padding-left:10px ;
    
}
  

.news-info button{
    background-color: #736a58;
    border: none;
    padding: 10px 13px;
    color: white;
    margin-left: 110px;
    font-weight: 700;
}

.news-info .but{
    margin-top: 21px;
}


.news-info button:hover{
    cursor: pointer;
}








/* ___________________________________________________________________________ */


.logos {
   padding-left: 40px;
    margin-top: -200px;
  }

  .logos .goo{
    padding: 0 50px;
  }

  .logos .phi{
    padding: 0 50px;
  }
  
  /* --------------------------------------------------------------------------------------------- */
  



  .end {
    background-color: #736a58;
    height: 44vh;
    color: white;
    position: relative;
    margin-top: 50px;
  }
  
  
  .end .ttc {
    color: black;
    margin-left: 20px;
    font-size: 30px;
   padding-top: 50px;
    font-weight: 900;
  }
  
  .end .phone {
    margin-left: 20px;
    margin-top: -20px;
    font-weight: 600;
  }
  
  .end .hou {
    margin-left: 20px;
    font-weight: 600;
  }
  
  /* ------------------------------------------------------------------------------------------------------------- */






  .end .co {
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 900;
}

.end .cc {
  margin-left: 14px;
  position: absolute;
  top: 199px;
  left: -35px;
  list-style: none;
}

.end .cc a {
  text-decoration: none;
}

.end .cc li i {
  color: white;
  font-size: 25px;
}



.end .instagram {
  margin-left: 25px;
  position: absolute;
  top: 0px;
}


.end .discord {
  margin-left: 59px;
  position: absolute;
  top: 0px;
}


.end .telegram {
  margin-left: 104px;
  position: absolute;
  top: 0px;
}

.end .snapchat {
  margin-left: 139px;
  position: absolute;
  top: 0px;
}



/* ------------------------------------------------------------------------------------------------------------- */



.end .qu {
    color: black;
    margin-left: 400px;
    position: absolute;
    top: 30px;
    font-weight: 900;
    font-size: 30px;
  }
  
  .end .aa {
    margin-left: 360px;
    list-style: none;
    cursor: pointer;
    position: absolute;
    top: 80px;
    font-weight: 600;
  }
  .end .aa li {
    padding: 4px;
  }
  
 


  /* --------------------------------------------------------------------------------------------------------------------------------- */



  .end .su {
    color: black;
    margin-left: 660px;
    position: absolute;
    top: 30px;
    font-weight: 900;
    font-size: 30px;
  }
  
  .end .bb {
    margin-left: 619px;
    position: absolute;
    top: 80px;
    list-style: none;
    font-weight: 600;
  }
  
  .end .bb li {
    cursor: pointer;
    padding: 4px;
  }
  

  
  
  


  /* -------------------------------------------------------------------------------------------------------------------------------------- */
  


  .end .ins {
    margin-left: 900px;
    position: absolute;
    top: 30px;
    color: black;
    font-weight: 900;
    font-size: 30px;
  }
  
  .end .fro {
    font-weight: 600;
    margin-left: 900px;
    position: absolute;
    top: 80px;
  }
  
  .end .app {
    width: 135px;
    border: 1px solid black;
    margin-left: 898px;
    position: absolute;
    top: 130px;
  }
  
  .end .play {
    width: 135px;
    border: 1px solid black;
    margin-left: 1040px;
    position: absolute;
    top: 130px;
  }
  
  /* -------------------------------------------------------------------------------------------------------- */
  


  .end .cooo {
   text-align: center;
    padding-top: 60px;
    font-size: 13px;
  }
  
  
  
  /* -------------------------------------------------------------------------- */
  
  
  
  